# Data files
data/*.csv
data/*.zip

# Model files
models/*.h5
models/*.keras
models/*.pkl

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Results
results/*.csv
results/*.txt
